:root {
    /* Typography */
    --base-fonts: "Roboto", sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;  
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em; 
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    
    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-6: 0.6rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}